body {
    margin: 0;
    font-family: "Roboto", sans-serif;
  }

.hero-container {
    position: relative;
    overflow: hidden;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    color: #000;
    transition: color 0.2s, background-color 0.2s;
  }
  
  .hero-container.dark {
    background-color: #1a1a1a;
    color: #fff;
  }
  
  .background-pattern {
    position: absolute;
    height: 700px;
    width: 700px;
    background-color: rgba(0, 123, 255, 0.4);
    top: -50%;
    right: 0;
    border-radius: 48px;
    transform: rotate(45deg);
    z-index: -1;
  }
  
  .hero-content {
    padding-bottom: 2rem;
  }
  
  .hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  
  @media (min-width: 640px) {
    .hero-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }
  
  @media (min-width: 640px) {
    .text-content {
      text-align: left;
    }
  }
  
  .hero-title {
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: bold;
  }
  
  .hero-description {
    font-size: clamp(0.9rem, 2.5vw, 1.25rem);
  }
  
  .hero-button {
    background: linear-gradient(to right, #007bff, #6610f2);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    transition: transform 0.2s;
  }
  
  .hero-button:hover {
    transform: scale(1.05);
  }
  
  .image-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s;
  }
  
  .hero-image:hover {
    transform: scale(1.05);
  }
  .selection {
    overflow-y: auto;
    background-image: url('../../assets/images/spa-section.jpg');
    background-size: cover;    /* Ensures the background image covers the full container */
    background-position: center; /* Centers the image */
    text-align: center;
    min-height: 100vh;
  }

  
  @media (max-width: 1024px) {
    .selection {
      min-height: 80vh;
    }
  }
  
  @media (max-width: 768px) {
    .selection {
      min-height: 60vh;
      background-attachment: scroll; /* For mobile, it's common to set background-attachment to scroll */
    }
  }
  
  @media (max-width: 480px) {
    .selection {
      min-height: 50vh;
      background-position: top;
    }
  }

  .spa-section {
    position: relative;
    text-align: center;
    padding: 10rem;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spa-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Transparent black overlay */
  z-index: 1;
}

.spa-section-in {
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}

/* Responsive styling for the spa-section */
@media (max-width: 1200px) {
  .spa-section {
    padding: 6rem; /* Reduce padding for medium screens */
  }
}

@media (max-width: 768px) {
  .spa-section {
    padding: 3rem; /* Further reduce padding for smaller screens */
  }
}

.spa-section-in {
    position: relative;
    z-index: 2; /* Ensure content is above the overlay */
  }

  .spa-section-in {
    max-width: 90%; /* Limit width on larger screens */
    padding: 20px;
    margin: 0 auto; /* Center align */
    text-align: center; /* Center content */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }

  .spa-section-in h2 {
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
  }
  
  