.spa-form {
    max-width: 100%;
    margin: 0 auto;
    background-color: #f7f4ee;
    padding: 20px;
    border: 1px solid #ccc;
    padding-top: 90px;
  }



  /* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }

  .breadcrumb-active {
    border-bottom: 1px solid #333; /* Line color and thickness */
    padding-bottom: 0px; /* Adds some spacing between text and line */
    display: inline-block; /* Ensures border stays under the text */
  }
  
  
  /* .reservation-banner {
    background-color: #f5f1e7;
    background-image: url("path/to/pattern.png");
    background-repeat: repeat;
    text-align: center;
    padding: 40px 20px;
  } */

  .reservation-banner {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align content to the left */
    padding-bottom: 40px;
  }
  
  @media (min-width: 768px) { /* For larger screens */
    .reservation-banner {
      flex-direction: row; /* Arrange items horizontally */
      justify-content: space-between; /* Space between breadcrumb and content */
      align-items: center; /* Vertically align the items */
    }
  }
  
  .breadcrumb {
    font-size: 14px;
    color: #333;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden;
    /* cursor: pointer; */
    margin-bottom: 20px; /* Spacing from other elements */
    font-family: "Roboto", sans-serif;
  }
  

  .breadcrumb a {
    color: #3c3b3b; /* Default color */
    text-decoration: none; /* Removes underline */
    transition: color 0.3s ease;
    font-family: "Roboto", sans-serif;
  }
  
  .breadcrumb a:hover {
    color: #d0b581; /* Hover color */
  }
  
  
  .breadcrumb span {
    color: #3c3b3b;
    font-family: "Roboto", sans-serif;
  }
  
  /* Title Section */
  .content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center; /* Center-align text inside the content */
  }
  
  .title {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align title and decorative icon */
  }
  
  .title h1 {
    font-size: 36px;
    color: #757C46;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
  }
  
  .decorative-icon {
    display: flex;
    justify-content: center;
    margin: 0 auto 10px auto;
  }
  

  
  .subtitle {
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Modern Sans', sans-serif;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .title h1 {
      font-size: 28px;
    }
  
    .subtitle {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .title h1 {
      font-size: 24px;
    }
  
    .breadcrumb {
      font-size: 10px;
      padding-right: 50%;
    }
  
    .subtitle {
      font-size: 12px;
    }
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-input, 
  .form-textarea, 
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  textarea.form-textarea {
    height: 100px;
    resize: none;
  }
  
  .form-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .form-link {
    color: #000000;
    transition: color 0.3s ease; /* Smooth color transition */
  }
  
  .form-link:hover {
    color: #d0b581;
  }
  .form-button {
    padding: 10px 2px;
    font-size: 0.9rem;
    color: #000000; /* Default text color */
    background: none;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease; /* Smooth color transition */
    text-align: center;
    display: inline-block;
    font-family: 'Modern Sans', sans-serif;

    width: 100%;
  }
  
  .form-button::after {
    content: "";
    display: block;
    height: 3px;
    width: 35%; /* Full width initially */
    background: #000000; /* Default underline color */
    margin-top: 5px;
    transition: width 0.3s ease, background-color 0.3s ease; /* Smooth transition for both width and color */
    margin-left: auto; /* Center alignment starts */
    margin-right: auto; /* Center alignment ends */
  }
  
  .form-button:hover {
    color: #d0b581; /* Change text color on hover */
  }
  
  .form-button:hover::after {
    width: 40px; /* Reduce line length on hover */
    background: #d0b581; /* Change line color on hover */
  }
  