body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile Booking Container */
.MobileBooking {
  animation: popIn 0.7s ease-out forwards;
}

@media (max-width: 412px) {
  .MobileBooking {
    display: flex;
    justify-content: space-between;
    position: fixed; /* Sticks to the bottom */
    bottom: 0;
    width: 100%; /* Full screen width */
    height: 50px;
    background-color: white;
    z-index: 1000; /* Keeps it on top */
  }

  .MAGAZINE-div, .RÉSERVER-div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .MAGAZINE-div {
    background-color: black;
  }

  .RÉSERVER-div {
    background-color: #757C46;
  }

  /* Text Styling */
  .MAGAZINE-text, .RÉSERVER-text {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: serif;
    animation: popIn 0.7s ease-in forwards;
    display: flex;
    align-items: center;
  }

  /* Booking Icon Styling */
  .booking-icon {
    width: 20px; /* Adjust to make smaller */
    height: auto;
    filter: invert(1);
    margin-right: 2px;
    vertical-align: middle;
    padding-top: 2px;
  }

  /* Hover Effects */
  .MAGAZINE-text:hover {
    color: rgba(105, 95, 76, 0.8); /* Hover effect for text */
  }

  .RÉSERVER-text:hover {
    color: rgba(28, 26, 21, 0.8); /* Hover effect for text */
  }
}

/* Hide MobileBooking on larger screens */
@media (min-width: 413px) {
  .MobileBooking {
    display: none;
  }
}
