body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile Booking Container */
.MobileBooking {
  animation: popIn 0.7s ease-out forwards;
}

@media (max-width: 512px) {
  .MobileBooking {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 1000;
  }

  .MAGAZINE-div, .RÉSERVER-div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .MAGAZINE-div {
    background-color: black;
  }

  .RÉSERVER-text:hover {
    color:  rgba(105, 95, 76, 0.8);
  }
  .RÉSERVER-div {
    background-color: #757C46;
  }

  .MAGAZINE-text, .RÉSERVER-text {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: serif;
    animation: popIn 0.7s ease-in forwards;
    display: flex;
    align-items: center;
  }

  .booking-icon {
    width: 20px;
    height: auto;
    margin-right: 2px;
    vertical-align: middle;
    padding-top: 2px;
    opacity: 10;
    filter: invert(1) brightness(2) contrast(1.2);

  }
  .MAGAZINE-text:hover {
    color:  rgba(105, 95, 76, 0.8);
  }
}


@media (min-width: 513px) {
  .MobileBooking {
    display: none;
  }
}
